.tieude{
 font-size: 18pt;
  text-align: center;
  font-family: 'furamafont' !important;
}
.content{
  padding-top: 80px;
  padding-right: 250px;
  padding-bottom: 50px;
  padding-left: 250px;
}
.content2{
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

